.path{
    display: block;
    background-color: aqua;
   width: 300px;
   height: 100px;
}
body{
    display: block;
}
.bintang{
    background-color: transparent;
    animation: putar 3ms linear infinite;
    color: red;
}
@keyframes putar{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.virus{
    animation: cirus 10s linear infinite;
}
@keyframes cirus{
    0%{
        transform: rotate(0deg);
    }

        100%{
            transform: rotate(360deg);
        }
    }